/*=================================================================================*/
/*=================================================================================*/
/*=================================================================================*/
/*==========================||---------------------------||========================*/
/*==========================|| DESIGNED BY  HOSSAM HILAL ||========================*/
/*==========================||---------------------------||========================*/
/*====================================||------||===================================*/
/*====================================|| 2019 ||===================================*/
/*====================================||------||===================================*/
/*=================================================================================*/
/*=================================================================================*/


body {
	direction: ltr;
	overflow-x: hidden;
}

.italic_text {
	font-style: italic;
}

.top-alert-bar {
	padding: 15px 0;
	font-weight: bold;
	text-transform: capitalize;

}

.top-alert-bar .text a{
	text-decoration: underline;
}

.dw-navbar {
	position: relative;
}

.dw-navbar .top-nav-heder {
	background: #3E3E3E;
	padding: 15px 20px;
}
.dw-navbar .top-nav {
	color: #fff;
	display: flex;
	justify-content: space-between;
}

.dw-navbar .container {
	padding: 0px;
}

.dw-navbar .dw-menu .menu {
	display: flex;
}

.dw-navbar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.dw-navbar .dw-menu .menu li {
	position: relative;
	z-index: 10;
}

.dw-navbar .dw-menu .menu li:before {
	display: none;
}

.dw-navbar a {
	color: #fff;
}

.dw-navbar .current-menu-item a {
	color: #00AD9D;
}

.dw-navbar a:hover {
	color: #00AD9D;
}

.dw-navbar ul a {
	padding: 10px 15px;
	position: relative;
	display: block;
}

.dw-navbar .dw-menu .menu .sub-menu {
	position: absolute;
	top: 100%;
	left: 20px;
	background: #3E3E3E;
	min-width: 180px;
	visibility: hidden;
	opacity: 0;
	transition: all .3s ease-in-out;
}

.dw-navbar .dw-menu .menu li:hover>.sub-menu {
	visibility: visible;
	opacity: 1;
	left: 0;
}

.dw-navbar .dw-menu .menu .sub-menu .sub-menu {
	left: 120%;
}

.dw-navbar .dw-menu .menu .sub-menu li:hover .sub-menu {
	left: 100%;
}

.dw-navbar .sub-menu .menu-item-has-children::after {
	content: "\f105";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	top: 15px;
	right: 10px;
}

.dw-navbar .sub-menu .menu-item-has-children .sub-menu {
	top: 0 !important;
}

.dw-navbar .sub-menu .menu-item-has-children:hover::after {
	color: #00AD9D;
}

.dw-navbar .dw-links {
	display: flex;
	align-items: center;
}

.dw-navbar .logo-box img {
	max-width: 160px;
}

.dw-navbar .dw-nav-social {
	display: flex;
}

.dw-navbar .dw-nav-social a {
	border: 1px solid #fff;
	border-radius: 50%;
	height: 30px;
	line-height: 30px;
	width: 30px;
	padding: 0;
	text-align: center;
	margin: 0 5px;
}

.dw-navbar .dw-cart {
	width: 40px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	margin: 0 5px;
	color: #00AD9D;
	font-size: 24px;
	cursor: pointer;
}

.dw-navbar .dw-search-btn {
	width: 40px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	margin: 0 5px;
	font-size: 24px;
	cursor: pointer;
}

.wd-nav-banner {
	padding: 20px;
}

.wd-nav-banner img {
	max-height: 100px;
}


