/*=================================================================================*/
/*=================================================================================*/
/*=================================================================================*/
/*==========================||---------------------------||========================*/
/*==========================|| DESIGNED BY  HOSSAM HILAL ||========================*/
/*==========================||---------------------------||========================*/
/*====================================||------||===================================*/
/*====================================|| 2019 ||===================================*/
/*====================================||------||===================================*/
/*=================================================================================*/
/*=================================================================================*/


body {
	direction: ltr;
	overflow-x: hidden;
}

.italic_text {
	font-style: italic;
}

.top-alert-bar {
	padding: 15px 0;
	font-weight: bold;
	text-transform: capitalize;

}

.top-alert-bar .text a{
	text-decoration: underline;
}

.dw-navbar {
	position: relative;
}

.dw-navbar .top-nav {
	background: #3E3E3E;
	color: #fff;
	padding: 15px;
}

.dw-navbar .top-nav .container {
	display: flex;
	justify-content: space-between;
}

.dw-navbar .dw-menu .menu {
	display: flex;
}

.dw-navbar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.dw-navbar .dw-menu .menu li {
	position: relative;
	z-index: 10;
}

.dw-navbar .dw-menu .menu li:before {
	display: none;
}

.dw-navbar a {
	color: #fff;
}

.dw-navbar ul a {
	padding: 10px 15px;
	position: relative;
	display: block;
}

.dw-navbar .dw-menu .menu .sub-menu {
	position: absolute;
	top: 100%;
	left: 0;
	background: #3E3E3E;
	min-width: 180px;
	display: none;
}

.dw-navbar .dw-menu .menu .sub-menu .sub-menu {
	left: 100%;
}

.dw-navbar .dw-menu .menu li:hover>.sub-menu {
	display: block;
}

.dw-navbar .dw-links {
	display: flex;
}

.dw-navbar .logo-box img {
	max-width: 160px;
}

.dw-navbar .dw-nav-social {
	display: flex;
}

.dw-navbar .dw-nav-social a {
	border: 1px solid #fff;
	border-radius: 50%;
	height: 30px;
	line-height: 30px;
	width: 30px;
	padding: 0;
	text-align: center;
	margin: 0 5px;
}

.dw-navbar .dw-cart {
	width: 40px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	margin: 0 5px;
	color: #00AD9D;
	font-size: 24px;
	cursor: pointer;
}

.dw-navbar .dw-search-btn {
	width: 40px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	margin: 0 5px;
	font-size: 24px;
	cursor: pointer;
}
