@font-face {
	font-family: cocon;
	src: url(assets/fonts/cocon.otf);
}

body {
	font-family: 'cocon', sans-serif;
	font-size: 1.45em;
}

/*.dw-navbar .sub-menu .menu-item-has-children > a::after{*/
/*	display: none;*/
/*}*/

.dw-navbar .dw-menu .menu > li.menu-item-has-children > a::after {
	right: auto;
	left: 4px;
}

.dw-navbar .dw-menu .menu > li.menu-item-has-children::after {
	right: auto;
	left: 4px;
}

.dw-navbar .sub-menu .menu-item-has-children > a::after {
	content: "\f104";
	right: auto;
	left: 10px;
	font-family: FontAwesome;
}

@media (min-width: 1200px) {
	.dw-navbar .dw-menu .menu .sub-menu .sub-menu {
		left: auto;
		right: 100%;
	}
}

@media screen and (max-width: 1199px) {
	.dw-navbar .dw-menu .menu {
		text-align: initial;
	}
}

.owl-carousel {
	direction: ltr;
}

.owl-carousel .owl-stage .owl-item {
	direction: rtl;
}

.dw-navbar .dw-nav-social a {
	/*line-height: 35px;*/
}

.dw-navbar .dw-cart {
	/*line-height: 50px;*/
}

.dw-navbar .dw-cart span {
	/*line-height: 25px;*/
}

.news-ticker .ticker-title .title {
	/*line-height: 40px;*/
}

.news-ticker .ticker-container .owl-nav .owl-prev {
	right: auto;
	left: 0;
}

.news-ticker .ticker-container .owl-nav .owl-next {
	right: auto;
	left: 36px;
}

.ticker-container .posts-carousel {
	direction: ltr;
}

.news-ticker .ticker-container .ticker-post {
	direction: rtl;
	margin-right: auto;
	/*margin-left: 80px;*/
}

.posts-area .post-wrapper-title {
	left: auto;
	right: -1px;
	/*line-height: 40px;*/
}

.posts-area .post-wrapper-title::after {
	display: none;
}

.posts-area .post-wrapper-title::before {
	content: "";
	position: absolute;
	top: 10px;
	right: 0;
	background: #00AD9D;
	height: 30px;
	width: 4px;
	display: block;
}

.writer-info li {
	padding-right: 0 !important;
	padding-left: 20px;
}

.writer-info img {
	margin-right: 0;
	margin-left: 5px;
}

.list-post.has-post-thumbnail .post-image {
	float: right;
	margin-right: 0;
	margin-left: 20px;
}

.read-more-button {
	letter-spacing: 0;
	font-size: 13px;
}

.small-post .post-image {
	float: right;
}

.small-post.has-post-thumbnail .post-content {
	margin-left: 0;
	margin-right: 115px;
}

.widget ul li span.post-count {
	right: auto;
	left: 0;
}

.footer-widgets .widget .social_widget_container a {
	margin: 0 0 5px 5px;
	/*line-height: 25px;*/
}

.woocommerce table.shop_table th {
	text-align: right;
}

#ship-to-different-address .woocommerce-form__label-for-checkbox span {
	padding-right: 20px;
}

.singular .share-box .share-icons li a i {
	margin-left: 5px;
	margin-right: 0;
}

.bbioon-fly-box .box-title span {
	margin-right: 0;
	margin-left: 25px;
	padding-left: 0;
	padding-right: 15px;
}

.bbioon-fly-box .box-title span:before {
	left: auto;
	right: 0;
}

.bbioon-fly-box .box-title .close-fly-box {
	right: auto;
	left: 0;
}

.bbioon-fly-box .box-title .delete-fly-box {
	right: auto;
	left: 25px;
}

.atricels-colums {
	text-align: right;
}

.post-navigation .post-next span:after {
	display: none;
}

.post-navigation .post-previous span:before {
	display: none;
}

.post-navigation .post-next span:before {
	content: '\f061';
	font-family: FontAwesome;
	margin-left: 5px;
}

.post-navigation .post-previous span:after {
	content: '\f060';
	font-family: fontawesome;
	margin-right: 5px;
}

.singular .tags a{
	letter-spacing: 0;
}