.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
	background-color: #00AD9D;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-ms-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
	background-color: #4d4f51;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
	border: 1px solid #eee;
	padding: 5px;
	text-align: center;
}

.woocommerce-page h1.page-title {
	margin-bottom: 30px;
}

.woocommerce-ordering .orderby {
	padding: 12px;
	border-style: dashed !important;
	border-width: 1px !important;
	border-color: #00AD9D;
	border-radius: 3px;
	height: 42px;
	margin-bottom: 30px;
}

.woocommerce-result-count {
	padding: 12px;
	border-style: dashed !important;
	border-width: 1px !important;
	border-color: #00AD9D;
	border-radius: 3px;
	height: 42px;
	line-height: normal !important;
	margin-bottom: 30px;
}

.woocommerce-Input--password,
.woocommerce-Input--email,
.woocommerce-Input--text,
.woocommerce-input-wrapper .input-text {
	padding: 12px;
	border-style: dashed !important;
	border-width: 1px !important;
	border-color: #00AD9D;
	border-radius: 3px;
}

.woocommerce-MyAccount-navigation ul {
	padding: 0;
	list-style: none;
}

.woocommerce-MyAccount-navigation ul .woocommerce-MyAccount-navigation-link a {
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	background-color: #F5F5F5;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-ms-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
	border-bottom: 1px solid #dbdbdb;
}

.woocommerce-MyAccount-navigation ul .woocommerce-MyAccount-navigation-link:last-of-type a {
	border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.woocommerce-MyAccount-navigation ul .woocommerce-MyAccount-navigation-link a:hover {
	background-color: #00AD9D;
	color: #fff;
}

.woocommerce-MyAccount-navigation ul .woocommerce-MyAccount-navigation-link.is-active a {
	background-color: #00AD9D;
	color: #fff;
}